@import '../../variables.scss';

.menu-bar-container {
  display: flex;
  justify-content: space-between;

  .home_logo {
    width: 50px;
    margin-bottom: $spacing-02;
    margin-right: $spacing-07;
  }

  .end-container {
    align-items: center;
    justify-content: end;

    a + a {
      margin-left: $spacing-04;
    }
  }

  .userProfile-container {
    .MuiAvatar-root {
      margin-right: $spacing-02;
    }

    .MuiIconButton-root {
      margin-left: $spacing-05;
    }
  }

  .menu-bar-link {
    color: $grey-00;
    margin-right: $spacing-05;
    text-decoration: none;
  }

  .menu-bar-title {
    font-family: sans-serif;
    //text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    // letter-spacing: 2.2px;
  }
}
